
*.db
/.vs/˙*
Cv - 01/Vypis-solution/.vs/Vypis-solution/v16/Browse.VC.db-shm
Cv - 01/Vypis-solution/.vs/Vypis-solution/v16/Browse.VC.db-wal
Cv - 01/Vypis-solution/.vs/Vypis-solution/v16/Browse.VC.opendb
